.calendar-table {
    margin: 20px auto;
    width: 90%;
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid #ddd;
}
.month-container {
    background-color: #f9f9f9;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
}
th, td {
    text-align: center;
    padding: 10px;
}
body {
    background-color: lightblue;
}
td {
    cursor: pointer;
    transition: background-color 0.3s;
}
td:hover {
    background-color: lightblue;
}